---
- name: Install Bpytop (system monitor)
  become: true
  pacman:
    name: bpytop
    state: latest
- name: Install Bandwhich (bandwidth visualization tool)
  become: true
  pacman:
    name: bandwhich
    state: latest
- name: Install Bind (network utilities, nslookup, dig, ...)
  become: true
  pacman:
    name: bind
    state: latest
- name: Install Which
  become: true
  pacman:
    name: which
    state: latest
- name: Install Fd (alternative to find)
  become: true
  pacman:
    name: fd
    state: latest
- name: Install Python
  become: true
  pacman:
    name: python
    state: latest
- name: Install Julia
  become: true
  pacman:
    name: julia
    state: latest
- name: Install Ruby
  become: true
  pacman:
    name: ruby
    state: latest
- name: Install Composer (PHP package manager)
  become: true
  pacman:
    name: composer
    state: latest
- name: Install Luarocks (Lua package manager)
  become: true
  pacman:
    name: luarocks
    state: latest
- name: Install Wget (HTTP client)
  become: true
  pacman:
    name: wget
    state: latest
- name: Install Unzip (uncompression utility)
  become: true
  pacman:
    name: unzip
    state: latest
- name: Install Zip (compression utility)
  become: true
  pacman:
    name: zip
    state: latest
- name: Install rsync (file synchronizer)
  become: true
  pacman:
    name: rsync
    state: latest
- name: Install ACPID (Power manager)
  become: true
  pacman:
    name: acpid
    state: latest
- name: Start ACPID service
  become: true
  service:
    enabled: true
    name: acpid
    state: started
- name: Install Tokei (line of code counter)
  become: true
  pacman:
    name: tokei
    state: latest
- name: Install slides (terminal presentation tool)
  become: true
  pacman:
    name: slides
    state: latest
- name: Install Wttr (weather informations)
  kewlfft.aur.aur:
    name: wttr
    state: latest
