---
- name: "Laptop installation & configuration"
  hosts: localhost
  connection: local
  tasks:
    - name: Install Tokei (line of code counter)
      become: true
      pacman:
        name: tokei
        state: present
    - name: Install Chromium (web browser)
      become: true
      pacman:
        name: chromium
        state: present
    - name: Install bottom (processes visualizer)
      become: true
      pacman:
        name: bottom
        state: present
    - name: Install Zathura (command-line PDF viewer)
      become: true
      pacman:
        name: zathura
        state: present
    - name: Install Feh (command-line picture viewer)
      become: true
      pacman:
        name: feh
        state: present
    - name: Install Chafa (command-line graphics)
      become: true
      pacman:
        name: chafa
        state: present
      become: true
      pacman:
        name: xorg-xset
        state: present
    - name: Install Bat
      become: true
      pacman:
        name: bat
        state: present
    - name: Install Exa
      become: true
      pacman:
        name: exa
        state: present
    - name: Install JetBrains Mono Nerd
      become: true
      pacman:
        name: ttf-jetbrains-mono-nerd
        state: present
    - name: Install rsync
      become: true
      pacman:
        name: rsync
        state: present
    - name: Install Alacritty
      become: true
      pacman:
        name: alacritty
        state: present
    - name: Setup Alacritty
      synchronize:
        delete: true
        src: alacritty
        dest: /$HOME/.config
    - name: Install TMUX
      become: true
      pacman:
        name: tmux
        state: present
    - name: Setup TMUX
      synchronize:
        src: tmux
        dest: /$HOME/.config
    - name: Install Neovim
      become: true
      pacman:
        name: neovim
        state: present
    - name: Setup AstroNvim
      synchronize:
        delete: true
        src: nvim
        dest: /$HOME/.config
    - name: Install Fish
      become: true
      pacman:
        name: fish
        state: present
    - name: Setup Fish
      synchronize:
        delete: true
        src: fish
        dest: /$HOME/.config
    - name: Setup OMF
      synchronize:
        delete: true
        src: omf
        dest: /$HOME/.config
    - name: Install UFW
      become: true
      pacman:
        name: ufw
        state: present
    - name: UFW reset all rules
      become: true
      ufw:
        state: reset
    - name: UFW deny all by default
      become: true
      ufw:
        policy: deny
    - name: UFW enable
      become: true
      ufw:
        state: enabled
    - name: UFW service startup
      become: true
      service:
        name: ufw
        state: restarted
