---
- name: "Laptop installation & configuration"
  hosts: localhost
  connection: local
  tasks:
    - name: Install rsync (file synchronizer)
      become: true
      pacman:
        name: rsync
        state: present
    - name: Install Xorg Xinit (Xorg startup script)
      become: true
      pacman:
        name: xorg-xinit
        state: present
    - name: Setup Xorg Xinit
      synchronize:
        src: xinit/xinitrc
        dest: /$HOME/.xinitrc
    - name: Install i3-gaps (window manager)
      become: true
      pacman:
        name: i3-gaps
        state: present
    - name: Install i3 Lock (window locker)
      become: true
      pacman:
        name: i3lock
        state: present
    - name: Install dmenu
      become: true
      pacman:
        name: dmenu
        state: present
    - name: Install Network Manager (Wi-Fi & ethernet manager)
      become: true
      pacman:
        name: network-manager
        state: present
    - name: Start Network Manager service
      become: true
      service:
        enabled: true
        name: NetworkManager
        state: started
    - name: Install Network Manager Applet (Network Manager i3status icon)
      become: true
      pacman:
        name: network-manager-applet
        state: present
    - name: Setup i3 Window Manager
      synchronize:
        src: i3
        dest: /$HOME/.config
    - name: Install Tokei (line of code counter)
      become: true
      pacman:
        name: tokei
        state: present
    - name: Install Chromium (web browser)
      become: true
      pacman:
        name: chromium
        state: present
    - name: Install bottom (processes visualizer)
      become: true
      pacman:
        name: bottom
        state: present
    - name: Install Zathura (command-line PDF viewer)
      become: true
      pacman:
        name: zathura
        state: present
    - name: Install Feh (command-line picture viewer)
      become: true
      pacman:
        name: feh
        state: present
    - name: Install Chafa (command-line graphics)
      become: true
      pacman:
        name: chafa
        state: present
    - name: Install Zoxide (smarter cd command)
      become: true
      pacman:
        name: zoxide
        state: present
    - name: Felix (command-line file manager)
      become: true
      pacman:
        name: felix-rs
        state: present
    - name: Felix setup
      synchronize:
        src: felix
        dest: /$HOME/.config
    - name: Dua (disk usage analyzer)
      become: true
      pacman:
        name: dua-cli
        state: present
    - name: Install Xset (Xorg configuration manager)
      become: true
      pacman:
        name: xorg-xset
        state: present
    - name: Install Bat (replacement for cat)
      become: true
      pacman:
        name: bat
        state: present
    - name: Install Exa (replacement for ls)
      become: true
      pacman:
        name: exa
        state: present
    - name: Install JetBrains Mono Nerd (IntelliJ font)
      become: true
      pacman:
        name: ttf-jetbrains-mono-nerd
        state: present
    - name: Install Alacritty (terminal emulator)
      become: true
      pacman:
        name: alacritty
        state: present
    - name: Setup Alacritty
      synchronize:
        delete: true
        src: alacritty
        dest: /$HOME/.config
    - name: Install TMUX (terminal multiplexer)
      become: true
      pacman:
        name: tmux
        state: present
    - name: Setup TMUX
      synchronize:
        src: tmux
        dest: /$HOME/.config
    - name: Install Neovim (command-line text editor)
      become: true
      pacman:
        name: neovim
        state: present
    - name: Setup AstroNvim
      synchronize:
        delete: true
        src: nvim
        dest: /$HOME/.config
    - name: Install Fish (shell)
      become: true
      pacman:
        name: fish
        state: present
    - name: Setup Fish
      synchronize:
        delete: true
        src: fish
        dest: /$HOME/.config
    - name: Setup OMF
      synchronize:
        delete: true
        src: omf
        dest: /$HOME/.config
    - name: Install UFW (firewall)
      become: true
      pacman:
        name: ufw
        state: present
    - name: UFW reset all rules
      become: true
      ufw:
        state: reset
    - name: UFW deny all by default
      become: true
      ufw:
        policy: deny
    - name: UFW enable
      become: true
      ufw:
        state: enabled
    - name: UFW service startup
      become: true
      service:
        name: ufw
        state: restarted
