---
- name: Install Gnome
  become: true
  pacman:
    name: gnome
    state: present
- name: Install Gnome extra packages
  become: true
  pacman:
    name: gnome-extra
    state: present
- name: Enable the GDM service
  become: true
  service:
    name: gdm
    enabled: true
- name: Install Pipewire for Pulseaudio
  become: true
  pacman:
    name: pipewire-pulse
    state: present
- name: Enable compose key for special characters
  community.general.dconf:
    key: /org/gnome/desktop/input-sources/xkb-options
    value: "['compose:ralt']"
    state: present
