---
- name: Install Vifm (file manager for the terminal)
  become: true
  pacman:
    name: vifm
    state: latest
- name: Synchronizes the configuration for the unprivileged user
  synchronize:
    src: vifm
    dest: /$HOME/.config
    delete: true
