---
- name: Install JetBrains Mono Nerd (IntelliJ font)
  become: true
  pacman:
    name: ttf-jetbrains-mono-nerd
    state: latest
- name: Install Noto fonts
  become: true
  pacman:
    name: noto-fonts
    state: latest
- name: Install Noto Fonts Emoji (for emojis support)
  become: true
  pacman:
    name: noto-fonts-emoji
    state: latest
- name: Install Noto Fonts SC (for simplified chinese support)
  become: true
  pacman:
    name: noto-fonts-sc
    state: latest
- name: Install Noto Fonts CJK (for chinese, japanese & korean support)
  become: true
  pacman:
    name: noto-fonts-cjk
    state: latest
- name: Install Noto Fonts AR (for arabic support)
  become: true
  pacman:
    name: noto-fonts-ar
    state: latest
- name: Setup Fonts
  synchronize:
    src: fontconfig
    dest: "/$HOME/.config"
