---
- name: Install JetBrains Mono Nerd (IntelliJ font)
  become: true
  pacman:
    name: ttf-jetbrains-mono-nerd
    state: latest
- name: Install Noto fonts
  become: true
  pacman:
    name: noto-fonts
    state: latest
- name: Install Noto Fonts Emoji (for emojis support)
  become: true
  pacman:
    name: noto-fonts-emoji
    state: latest
- name: Install Noto Fonts TC (for traditional chinese support)
  become: true
  pacman:
    name: noto-fonts-tc
    state: latest
- name: Setup Fonts
  synchronize:
    src: fontconfig
    dest: "/$HOME/.config"
