---
- name: Install TMUX (terminal multiplexer)
  become: true
  pacman:
    name: tmux
    state: present
- name: Install TPM (Tmux Plugin Manager)
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: /$HOME/.tmux/plugins/tpm
    update: true
    clone: true
    single_branch: true
    depth: 1
- name: Setup TMUX
  copy:
    src: tmux/tmux.conf
    dest: "/$HOME/.tmux.conf"
