---
- name: Install Fish (shell)
  become: true
  pacman:
    name: fish
    state: present
- name: Install Neofetch (operating system informations logger)
  become: true
  pacman:
    name: neofetch
    state: present
- name: Install OpenVPN (for openvpn.fish)
  become: true
  pacman:
    name: openvpn
    state: present
- name: Setup Fish
  synchronize:
    delete: true
    src: fish
    dest: "/$HOME/.config"
- name: Setup OMF
  synchronize:
    delete: true
    src: omf
    dest: "/$HOME/.config"
