---
- name: Install Fish (shell)
  become: true
  pacman:
    name: fish
    state: latest
- name: Install Fastfetch (operating system informations logger)
  become: true
  pacman:
    name: fastfetch
    state: latest
- name: Install OpenVPN (for openvpn.fish)
  become: true
  pacman:
    name: openvpn
    state: latest
- name: Setup Fish
  synchronize:
    delete: true
    src: fish
    dest: "/$HOME/.config"
- name: Clone Oh My Fish
  git:
    repo: https://github.com/oh-my-fish/oh-my-fish
    dest: /$HOME/.local/share/omf
    depth: 1
    single_branch: true
    update: true
- name: Clone Agnoster theme
  git:
    repo: https://github.com/oh-my-fish/theme-agnoster
    dest: /$HOME/.local/share/omf/themes/agnoster
    depth: 1
    single_branch: true
    update: true
- name: Setup OMF
  synchronize:
    delete: true
    src: omf
    dest: "/$HOME/.config"
