[user]
	email = 18418459+aminnairi@users.noreply.github.com
	name = aminnairi
[init]
	defaultBranch = development
[core]
  editor = nvim
  autocrlf = true
[color]
  ui = true
[help]
  autoCorrect = "prompt"
